---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
<object data="https://github.com/mariebissell/cv/raw/main/CurriculumVitae0903.pdf" type="application/pdf" width="700px" height="700px">
    <embed src="https://github.com/mariebissell/cv/raw/main/CurriculumVitae0903.pdf">
        <p>This browser does not support PDFs. Please download the PDF to view it: <a href="https://github.com/mariebissell/cv/raw/main/CurriculumVitae0903.pdf">Download PDF</a>.</p>
    </embed>
</object>
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

